
<div class="container">
    <div class="col-sm-8">
        <h1 class="title">About Fluffy's Pets</h1>
       
        <% AboutUs.forEach(aboutus => { %>
        <h8>
            <%= aboutus.descryption %>
        </h8>
        <p>
        <br>
        As Fluffy's Pets We are you're entrusted pet store in Chicago. Our store offers you space for the little creature you will discover Dogs and Cats on out website. As well as the material that suits your pet’s. You will also discover sustenance and adornments for all pets croquettes, patés, seeds, and so forth.
        <br>
        Fluffy's Pets, together with non-benefits Animal Charities and Care for Pets Charities of United States, welcome in excess of 3,700 creature welfare associations to bring adoptable pets into stores so they have the most obvious opportunity conceivable of finding an eternity home. Through this in-store selection program and other mark occasions, Fluffy's Pets is takng Appointments only for Cats and Dogs at the moment. Please leave your information so we can call back to book an Appointments. <a href="/">contact!</a>
        <br>
        </p>
       <p>Go to <a href="/">Home!</a></p>
        <% }); %>
    </div>
</div>
<div class="container">
<div class="col-sm-5">
        <img src="pictures/cat3.jpg" alt="Cats">
</div>
<div class="col-sm-4">
        <img src="pictures/dog1.jpg" alt="Dog">
</div>
</div>