<div class="container">
    <div class="col-sm-6">
      <img src="pictures/mug.jpg" alt="">
    </div>
  <div class="col-sm-6">
    <h1>Please Enter your information</h1>
    <p>Enter your name and Phone number so we can help!! </p>
    <form class="subscription-form" action="/subscribe" method="post">
     <input type="text" name="name" placeholder="Name">
     <input type="text" name="phone" placeholder="Phone Number "pattern="[0-9]{11}">
     <input type="text" name="type" placeholder="Type of Pet">
      <input type="submit" name="submit">
     </form>
  </div>
</div>
