<div class="container">
        <div class="col-sm-4">
                <img src="pictures/doccat.jpg" alt="Cats">
                <img src="pictures/docdog.jpg" alt="Dog">
        </div>
        
    <div class="col-sm-6">
        <h1 class="title">We're here for both of you</h1>
        <% Health.forEach(helth => { %>
            <h8>
                <%= helth.descryption %>
            </h8>
            <p>
            Local Doctors, World-Class Care.
            <br>
            <br>
            At Fluffy's Pets we are committed to continuously improving the standard of care for our hospitals and veterinary medicine as a whole through the compassionate,
            high-quality primary care that we provide at our nationwide family of over 100 hospitals.
        </p>
        <p>
            During these trying times of Covid-19 we do only help out certin pets at our location.
            <br>
            <br>
            At this time we are only accepting Cats and Dogs at the moment. Please be patient we will try our best to help other pet's soon.
        </p>
        
        
         <% }); %>
    </div>
</div>
     
    <div class="col-sm-6">
        <h1>If your Pet seems sick</h1>
        <p> If your Cat is just sitting around, he need some exersize.
            <br>
            You should take your cat out for a walk, if The cant stand up on its own please call us by using the <a href="/contact"> contact us page.</a>  </p>
        <p> Maybe your pet just needs to be active more We offer Dog Training and grooming services just click on the <a href="/training"> training </a> tab to learn more.</p>
        <p> You can <a href="/contact">contact </a> us here and Soon your Pet's will look and feel amazing.
      </div>
      <div class="col-sm-6">
        <img src="pictures/sickcat2.jpg" alt="Cats">
            <img src="pictures/sickdog3.jpg" alt="Dog">
      </div>
      <p>Go to <a href="/">Home!</a></p>