<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> This is a Website for Pet's!  </p>
  <p> We offer Dog Training, Vet support and many other services.</p>
  <p> If your looking for somthing related to your pets helth. You should check out our health tab to seek <a href="/health"> Help </a>here!</p>
  <p>If your looking to treat your pet you should check out our <a href="/toys"> Toys</a> tab.</p>
  <p> You can <a href="/contact">Contact us here! </a> Soon your Pet's will look and feel amazing.
</div>
<div class="col-sm-6">
  <img src="Pictures/dog2.jpg" alt="">
</div>